---
title: I Do Certs
date: 2025-11-21
permalink: /blog/{{ page.fileSlug }}/
layout: post_layout.njk
tags: blog
---

<h1 class="text-5xl font-bold mb-8">
  <span style="color:rgb(222, 10, 10);">So My Signature Is Longer</span>
</h1>
<p class="text-xl">
  If you've ever heard <a href="https://x.com/uwu_underground" style="color: blue; text-decoration: underline;">UwU Undergrond<a> you'd understand. 
<br>
<br>
<li class="flex items-start">
<span class="mr-2 text-red-500">•<strong> What certs did I do?</strong></span>
    <div>
        <p class="mt-1"><em>SANS GWAPT / GSEC</em></p>
            <p class="mt-1"><em>AWS Cloud Practicioner</em></p>
        <p class="mt-1" style="color: green;"><em>(which I learned is almost a joke, can you memorize acronyms, yes or no?)</em></p>
    </div>
</li>
<br>
  But really. I recently completed my GWAPT through SANS, and not having went to "college" for Computers, I'm pretty happy about it.
</p>
<br>
<span class="mr-2 text-red-500">•<strong> How about college?</strong></span>
<div>
    <p class="mt-1"><em>University of Northwestern Ohio</em></p>
        <p class="mt-1"><em>I learned about the fascinating world of cars</em></p>
    <p class="mt-1" style="color: green;"><em>(Automotive Technology & Alternative Fuels)</em></p>
    <br>
    <p class="mt-1"><em>Tennessee Technology University</em></p>
        <p class="mt-1"><em>Solid Education in College is Too Damned Expensive</em></p>
    <p class="mt-1" style="color: green;"><em>(Project Management - 1 entire semester, impressive, I know)</em></p>
</div>
</li>