---
title: Expression is... Simple
date: 2025-11-21
permalink: /blog/{{ page.fileSlug }}/
layout: post_layout.njk
tags: blog
---

<h1 class="text-5xl font-bold mb-8">
  For an <span style="color: #8B0000;">Anniversary</span> - Once Upon a Time
</h1>
<p class="text-xl">
  My Wife and I's colors are 
  <span class="text-yellow-400 font-bold">Yellow</span> and 
  <span class="text-green-400 font-bold animate-bounce">Green</span>, 
  because we had ourselves a 
  <span class="text-green-500 font-extrabold animate-pulse">4/20 Wedding</span>
</p>
<p class="text-xl">
  Now I mean, I don't want to seem biased, but I was pretty proud of getting this one to come out like this using stable diffusion
</p>
<br>
<img src="/assets/img/two_hearts.png" alt="Two hearts image" class="rounded-lg">