---
title: Erhm, Did You Just Shoot? I Couldn't Hear..
date: 2025-11-21
permalink: /blog/{{ page.fileSlug }}/
layout: post_layout.njk
tags: blog
---

<h1 class="text-5xl font-bold mb-8">
  For the security of the world,  <span style="color:rgb(22, 231, 63);">Heckler & Koch</span>
</h1>
<p class="text-xl">
  I got this a while back <span class="text-green-500 font-extrabold animate-pulse">amazing</span>
</p>
<br>
<video controls>
  <source src="/assets/videos/suppressed_range.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<p class="text-xl">
  To go ...  <span class="text-green-500 font-extrabold animate-pulse">slower</span>
</p>
<br>
<img src="/assets/img/suppressed_hk.gif" alt="HK" class="rounded-lg">

<!-- Include SwiperJS -->
<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/swiper-init.js"></script>
