---
title: Cars, Just Drive
date: 2025-11-21
permalink: /blog/{{ page.fileSlug }}/
layout: post_layout.njk
tags: blog
---

<h1 class="text-5xl font-bold mb-8">
  Over the years, there has been many a car & <span style="color:rgb(22, 231, 63);">driving is fun</span>
</h1>

<ul class="list-none text-lg space-y-6">
    <li class="flex items-start">
        <span class="mr-2 text-blue-500">•</span>
        <div>
            <strong>What’s my favorite of all the cars?</strong>
            <p class="mt-1"><em>The 944 - I legitimately didn't deserve that car as a 17 year old. It deserved a more mature owner at the time.</em></p>
        </div>
    </li>
</ul>
<br>
<ul class="list-none text-lg space-y-6">
    <li class="flex items-start">
        <span class="mr-2 text-blue-500">•</span>
        <div>
            <strong>What's in all that swypey gallery?</strong>
            <p class="mt-1"><em>Acura RSX-S</em></p>
            <p class="mt-1"><em>Model Y</em></p>
            <p class="mt-1"><em>Ford Ranger</em></p>
            <p class="mt-1"><em>Toyota Supra (88)</em></p>
            <p class="mt-1"><em>Porsche 944</em></p>
            <p class="mt-1"><em></em>Chevy BLAZA</p>
            <p class="mt-1"><em>Kawasaki Ninja</em></p>
        </div>
    </li>
</ul>

<div class="swiper my-8">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="/assets/img/tekla.jpg" alt="Melon" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/tekla2.jpg" alt="Melon" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/supra.jpg" alt="Trellis" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/supra2.jpg" alt="Trellis" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/supra3.jpg" alt="Trellis" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/944.jpg" alt="Trellis" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/cycle.jpg" alt="Trellis" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/cycle2.jpg" alt="Trellis" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/rsx.jpg" alt="Trellis" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/rsx2.jpg" alt="Trellis" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/rsx3.jpg" alt="Trellis" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/rsx4.jpg" alt="Trellis" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/rsx5.jpg" alt="Trellis" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/blaza.jpg" alt="Trellis" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/blaza2.jpg" alt="Trellis" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/truck.jpg" alt="Trellis" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/truck2.jpg" alt="Trellis" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/honda.jpg" alt="Trellis" class="rounded-lg">
    </div>
  </div>
  <!-- Add navigation buttons -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<!-- Include SwiperJS -->
<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/swiper-init.js"></script>