---
title: Make It Make Sense
date: 2025-11-21
permalink: /blog/{{ page.fileSlug }}/
layout: post_layout.njk
tags: blog
---

<h1 class="text-5xl font-bold mb-8">Infinite Energy Hack - <span class="mr-2 text-blue-500">Maybe</span></h1>
<p class="text-xl">A Solar Panel, that drives a pump, that lifts water to fall and produce hydro power.</p>
<span class="mr-2 text-blue-500">•••••••••••</span>
<p class="text-xl">Profit.</p>
<span class="mr-2 text-blue-500">•••••••••••</span>
<p class="text-xl">I'm fully aware of the limitations, but if I decide to listen to ChatGPT enough, it will whisper to me that I am absolutely right.</p>