---
title: Crazy World We Live In Now
date: 2025-11-21
permalink: /blog/{{ page.fileSlug }}/
layout: post_layout.njk
tags: blog
---

<h1 class="text-5xl font-bold mb-8">AI is like a crazy, double edged sword</h1>
<p class="text-xl">When it works, it can really be a ton of fun. But when it gets stuck, say bye bye to all your precious time</p>