---
title: Crazy World We Live In Now
date: 2025-11-21
permalink: /blog/{{ page.fileSlug }}/
layout: post_layout.njk
tags: blog
---

<h1 class="text-5xl font-bold mb-8">AI is like a crazy, double edged sword</h1>
<p class="text-xl">When it works, it can really be a ton of fun. But when it gets stuck, say bye bye to all your precious time</p>
<br>
<p class="text-xl">I am full on guilty, of using AI - to empower shower/driving thoughts. I am not an artist, per say. But I take time to distill thought. Sometimes, turbo charging it with AI can make a vibrant story more unruly than ever. There is comedic value to be found out there.</p>
<br>
<p class="text-xl">Wanna know the trick?</p>
<p class="text-xl"><span style="color:rgb(22, 231, 63);">AV01d Th3 Sl0p</span></p>
