---
title: No Place Like Home
date: 2025-11-21
permalink: /blog/{{ page.fileSlug }}/
layout: post_layout.njk
tags: blog
---

<h1 class="text-5xl font-bold mb-8">
  <span style="color:rgb(22, 231, 63);">No Place Like Home</span>
</h1>

<div class="swiper my-8">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="/assets/img/me.jpg" alt="Melon" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/tekla2.jpg" alt="Melon" class="rounded-lg">
    </div>
  </div>
  <!-- Add navigation buttons -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<!-- Include SwiperJS -->
<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/swiper-init.js"></script>