---
title: Do You Know Jollibee?
date: 2025-11-21
permalink: /blog/{{ page.fileSlug }}/
layout: post_layout.njk
tags: blog
---

<h1 class="text-5xl font-bold mb-8">
  <span style="color: #8B0000;">Jollibee is a Jolly Bee</span>
</h1>
<p class="text-xl">
  I can't help but think sometimes, that the only thig life is missing, is a Jollibee near me.
</p>

<br>
<img src="/assets/img/jolibee.jpg" alt="Jollibee" class="rounded-lg">