---
title: Who Doesn't Love Melons?
date: 2025-11-21
permalink: /blog/{{ page.fileSlug }}/
layout: post_layout.njk
tags: blog
---

<h1 class="text-5xl font-bold mb-8">
  For the bettering of the world,  <span style="color:rgb(22, 231, 63);">grow plants</span>
</h1>
<p class="text-xl">
  I grew these <span class="text-green-500 font-extrabold animate-pulse">Watermelons</span> and <span class="text-yellow-500 font-extrabold animate-pulse">Cantaloupe</span> some while back, yummy
</p>
<div class="swiper my-8">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="/assets/img/baby_melon.jpg" alt="Melon" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/baby_melon2.jpg" alt="Melon" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/trellis.jpg" alt="Trellis" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/melon.jpg" alt="Trellis" class="rounded-lg">
    </div>
  </div>
  <!-- Add navigation buttons -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<!-- Include SwiperJS -->
<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/swiper-init.js"></script>