---
title: You Always Need Another Spot to PC
date: 2025-11-21
permalink: /blog/{{ page.fileSlug }}/
layout: post_layout.njk
tags: blog
---

<h1 class="text-5xl font-bold mb-8">
  For the <span style="color: #8B0000;">LOVE</span> of <span style="color:rgb(4, 4, 249);">COMPUTER</span>
</h1>

<p class="text-xl mb-6">
  My outbuilding was missing a PC, and I wasn’t going to let it stay that way. Every space deserves a computer, and this one was no exception. Here's how I made it happen.
</p>
<br>
<p class="text-xl">
  This one runs xubuntu.
  Because you've gotta run anything but Omarchy, a guy named <a href="https://x.com/rekdt"  style="color: blue; text-decoration: underline;">rekdt</a> will rek you and call you a cuck, it's true.
</p>

<div class="swiper my-8">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="/assets/img/before_pc.jpg" alt="Nepenthes" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/after_pc.jpg" alt="Nepenthes" class="rounded-lg">
    </div>
  </div>
  <!-- Add navigation buttons -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>





<!-- Include SwiperJS -->
<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/swiper-init.js"></script>