---
title: Warmth is Good
date: 2025-11-21
permalink: /blog/{{ page.fileSlug }}/
layout: post_layout.njk
tags: blog
---

<h1 class="text-5xl font-bold mb-8">
  For the <span style="color: #8B0000;">LOVE</span> of <span style="color: #8B0000;">FIRE</span>
</h1>
<p class="text-xl">
  I always wanted to build a fire pit...
  Okay actually, that's half true. I wanted a fire pit - true.
  I didn't really "want" to build one. It was a ton of work to dig this out, lay the paver stones, and mortar all the brick and all that, but you know what. I feel good about doing it, after it was all said and done.
</p>
<div class="swiper my-8">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="/assets/img/firepit_assembly.jpg" alt="Nepenthes" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/firepit_assembly2.jpg" alt="Nepenthes" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/firepit_early.jpg" alt="Nepenthes" class="rounded-lg">
    </div>
    <div class="swiper-slide">
      <img src="/assets/img/firepit.jpg" alt="Nepenthes" class="rounded-lg">
    </div>
  </div>
  <!-- Add navigation buttons -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<!-- Include SwiperJS -->
<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/swiper-init.js"></script>