---
title: Welcome to the chaos, enjoy the stay, eat a cookie
date: 2025-11-21
permalink: /blog/{{ page.fileSlug }}/
layout: post-layout.njk
---

# {{ title }}

this is the blog. it works.  
I usually write pages in Django, but I noticed that even the site for DjangoCon uses this 11ty magic, so I figured I'd give it a try.