---
title: Welcome to the chaos, enjoy the stay, eat a cookie
date: 2025-11-21
permalink: /blog/{{ page.fileSlug }}/
layout: post_layout.njk
tags: blog
---

<h1 class="text-5xl font-bold mb-8">coding is a pleasure</h1>
<p class="text-xl">a day without coding just isn't as much fun</p>